<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EuroZhitlo"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDOUtwKFOlSQMoMGWPwFsl07kzHDhpx4EM" />

        <activity
            android:name=".Refugee.RefugeeMainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Refugee.RefugeeSearchActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Refugee.RefugeeMessageActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Refugee.RefugeeProfileActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Landlord.LandlordMainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Landlord.LandlordMessageActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Landlord.LandlordProfileActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Account.RegisterActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Account.LoginActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Account.SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Account.RoleActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Apartment.ApartmentActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Apartment.AddApartmentActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Chat.ChatActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

    </application>
</manifest>
